<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="35" />
    
    <!-- Поддержка всех размеров экранов и складных устройств -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
        android:resizeable="true" />
    
    <!-- Поддержка складных устройств -->
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />
    <uses-feature
        android:name="android.software.freeform_window_management"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme"
        android:resizeableActivity="true"
        android:supportsPictureInPicture="true"
        android:hardwareAccelerated="true"
        android:immersive="true">
        

        
        <activity
            android:name=".AndroidLauncher"
            android:exported="true"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|screenLayout|smallestScreenSize|uiMode|density"
            android:hardwareAccelerated="true"
            android:enableOnBackInvokedCallback="false"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:maxAspectRatio="3.0"
            android:minAspectRatio="1.0"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
